/*
 * gray: #58595b
 * light gray: #dbe3e9
 * light peach: #fef4f7
 * peach: #fef2f1
 * magenta: #D01254
 * pink: #fcdae6
 */

* {
  line-height: 30px;
}

body {
  background: #fef4f7;
}

#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  background: #fef2f1;
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  min-width: 875px;
}
#header nav {
  padding: 10px 0 10px 20px;
  float: left;
}
#header nav a {
  font-size: 12px;
  font-weight: 600;
  font-family: "adobe-caslon-pro", Times;
  color: #58595b;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
}
#header nav a.current, #header nav a:hover {
  color: #D01254;
}
#header .remember-me {
  padding-top: 18px;
  position: absolute;
  left: 44%;
}
#header .links {
  float: right;
  padding: 10px 20px 10px 0;
}
#header .links a {
  text-decoration: none;
  margin-left: 30px;
}

#back-to-top {
  display: none;
  position: fixed;
  right: 25px;
  top: 200px;
}

/* HOME */
#home .inner-content {
  text-align: center;
  height: 620px;
}
#home .logo {
  margin-top: 140px;
}
#home p {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  color: #fff;
  border: solid 2px #fff;
  padding: 20px 20px;
  font-size: 20px;
}

/* ABOUT US */
#about .inner-content {
  color: #D01254;
  text-align: center;
  background: url(../images/about-bg.jpg) no-repeat center 210px;
}
#about h2.title {
  margin-bottom: 30px;
}
#about p.summary {
  width: 658px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: solid 1px #D01254;
}
#about .about-founders {
  margin-top: 430px;
}
#about .about-founders .krista, #about .about-founders .gabi {
  margin-bottom: 20px;
}
#about .about-founders .gabi {
  margin-top: 25px;
}
#about .about-founders .both {
  margin-top: 25px;
}

/* DESIGNERS */
#designers {
  text-align: center;
}
#designers hr {
  border-bottom: solid 2px #000;
  width: 150px;
  margin: 15px auto;
}
#designers section {
  padding: 30px 15px 0px 15px;
  height: 500px;
}
#designers .services {
  background: #fcdae6;
}
#designers .services p {
  margin-bottom: 20px;
}
#designers .designers {
  background: #dbe3e9;
}
#designers .designers a {
  color: #000;
  text-decoration: none;
}
#designers .designers a:hover {
  color: #D01254;
  text-decoration: underline;
}
#designers .designers p {
  margin-bottom: 10px;
}

/* FAQ */
.faq-banner {
  margin-top: 20px;
}
.faq-banner img {
  width: 100%;
}
#faq {
  margin-top: -170px;
}
#faq h2 {
  color: #fff;
  border: solid 3px #fff;
  padding: 20px 0;
  text-align: center;
  width: 220px;
  letter-spacing: 4px;
  margin: 0 auto;
  margin-bottom: 85px;
}
#faq section {
  min-height: 920px;
}
#faq .questions * {
  line-height: 18px;
}
#faq .question {
  font-weight: 700;
}
#faq .answer {
  margin-bottom: 25px;
}
#faq .tips {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 50px 35px;
}
#faq .tips hr {
  border-bottom: solid 2px #fff;
  width: 150px;
  margin: 15px auto;
  margin-bottom: 30px;
}
#faq .tips h3 {
  color: #fff;
  font-weight: 100;
  font-size: 16px;
}
#faq .tips p {
  margin-bottom: 30px;
}

/* PHOTOS */
#photos {
  background: #fff;
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#photos h2 {
  margin: 45px 0;
}
#photos .nav {
  display: none;
  position: absolute;
  top: 250px;
  z-index: 10;
  height: 100px;
  width: 75px;
  background: #dbe3e9;
  opacity: .5;
  cursor: pointer;
  line-height: 95px;
  font-size: 50px;
  color: #000;
}
#photos .nav:hover {
  opacity: .9;
}
#photos .prev {
  left: 0;
  border-radius: 0 8px 8px 0;
}
#photos .next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
#photos:hover .nav {
  display: block;
}
#photos .photo {
  margin: 0 15px;
}
#photos #photo-stream {
  margin-bottom: 100px;
}

/* PRESS */
#press {
  margin-top: 40px;
  text-align: center;
}
#press hr {
  border-bottom: solid 1px #D01254;
  margin: 25px 0;
}
#press p {
  color: #D01254;
  margin-bottom: 75px;
}
#press a {
}

/* CONTACT */
.contact-banner {
  height: 566px;
  background: url('../images/contact-bg.jpg') no-repeat;
  margin-top: 115px;
}
#contact {
  margin-top: -75px;
  text-align: center;
}
#contact h2 {
  margin: 0 auto;
  margin-bottom: 40px;
  background: #D01254;
  color: #fff;
  display: block;
  width: 180px;
  padding: 10px 30px;
}
#contact hr {
  border-bottom: solid 3px #000;
  margin-bottom: 25px;
}
#contact p {
  line-height: 20px;
}
#contact .address {
  margin-top: 20px;
}
#contact .get-directions {
  margin: 20px 0;
}
#contact section {
  margin-bottom: 25px;
}
#contact .hours {
  margin-top: 20px;
}
#contact .phone-title {
  margin-top: 25px;
}
#contact .phone {
  font-size: 18px;
}

/* MAILING LIST FORM */
#mailing-list {
  margin-top: 25px;
}

/* FOOTER */
#footer {
  height: 240px;
  background: #000;
  margin-top: 35px;
  color: #fff;
  padding-top: 45px;
}
#footer hr {
  margin-bottom: 10px;
  border-bottom: solid 1px #fff;
}
#footer .copyright {
  float: left;
}
#footer nav {
  float: right;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
