/*
 * gray: #58595b
 * light gray: #dbe3e9
 * light peach: #fef4f7
 * peach: #fef2f1
 * magenta: #D01254
 * pink: #fcdae6
 */

* {
  line-height: 30px;
}

body {
  background: #fef4f7;
}

#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 42px;
  background: #fef2f1;
  box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
#header nav {
  padding: 6px 0 0 20px;
  float: left;
}
#header nav a {
  font-size: 12px;
  font-weight: 600;
  font-family: "adobe-caslon-pro", Times;
  color: #58595b;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
}
#header nav a.current, #header nav a:hover {
  color: #D01254;
}
#header .remember-me {
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
#header .remember-me img {
  display: block;
  margin: 0 auto;
}
#header .nav-links {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#header .links {
  float: right;
  padding: 8px 20px 0 0;
}
#header .links a {
  text-decoration: none;
  margin-left: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}
#header .links .twitter {
  width: 20px;
  height: 16px;
  background-image: url(../images/twitter.png);
}
#header .links .twitter:hover {
  background-position-y: -26px;
}
#header .links .facebook {
  width: 11px;
  height: 21px;
  background-image: url(../images/facebook.png);
}
#header .links .facebook:hover {
  background-position-y: -31px;
}
#header .links .instagram {
  width: 23px;
  height: 23px;
  background-image: url(../images/instagram.png);
}
#header .links .instagram:hover {
  background-position-y: -33px;
}
#header .links .blog {
  width: 41px;
  height: 10px;
  padding-top: 2px;
  background-image: url(../images/blog.png);
}
#header .links .blog:hover {
  background-position-y: -20px;
}

#back-to-top {
  display: none;
  position: fixed;
  right: 50px;
  top: 200px;
  z-index: 1000;
}

/* HOME */
#home {
  margin-bottom: 140px;
}
#home .inner-content {
  text-align: center;
  height: 760px;
  background-image: url(../images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#home .logo {
  margin-top: 140px;
}

/* ABOUT US */
#about .inner-content {
  color: #D01254;
  text-align: center;
  background: url(../images/about-bg.jpg) no-repeat center 210px;
}
#about h2.title {
  margin-bottom: 30px;
}
#about p.summary {
  width: 658px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: solid 1px #D01254;
}
#about .about-founders {
  margin-top: 430px;
}
#about .about-founders .krista, #about .about-founders .gabi {
  margin-bottom: 20px;
}
#about .about-founders .gabi {
  margin-top: 25px;
}
#about .about-founders .both {
  margin-top: 25px;
  font-size: 20px;
}

/* DESIGNERS */
#designers {
  text-align: center;
}
#designers hr {
  border-bottom: solid 2px #000;
  width: 150px;
  margin: 15px auto;
}
#designers section {
  padding: 30px 15px 0px 15px;
  min-height: 500px;
}
#designers .services {
  background: #fcdae6;
}
#designers .services p {
  margin-bottom: 20px;
}
#designers .designers {
  background: #dbe3e9;
}
#designers .designers a {
  color: #000;
  text-decoration: none;
}
#designers .designers a:hover {
  color: #D01254;
  text-decoration: underline;
}
#designers .designers p {
  margin-bottom: 10px;
}

/* FAQ */
.faq-banner {
  margin-top: 20px;
}
.faq-banner img {
  width: 100%;
}
#faq {
  margin-top: -200px;
}
#faq h2 {
  color: #fff;
  border: solid 3px #fff;
  padding: 38px 0;
  text-align: center;
  width: 220px;
  letter-spacing: 4px;
  margin: 0 auto;
  margin-bottom: 75px;
}
#faq section {
  min-height: 920px;
}
#faq .questions * {
  line-height: 18px;
}
#faq .question {
  font-weight: 700;
}
#faq .answer {
  margin-bottom: 25px;
}
#faq .tips {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 50px 35px;
}
#faq .tips hr {
  border-bottom: solid 2px #fff;
  width: 150px;
  margin: 15px auto;
  margin-bottom: 30px;
}
#faq .tips h3 {
  color: #fff;
  font-weight: 100;
  font-size: 16px;
}
#faq .tips p {
  margin-bottom: 30px;
}

/* PHOTOS */
#photos {
  background: #fff;
  text-align: center;
}
#photos h2 {
  margin: 45px 0;
}

#photos .photo {
  margin: 0 15px;
}
#photos #photo-stream {
  margin-bottom: 100px;
}

/* PRESS */
#press {
  margin-top: 40px;
  text-align: center;
}
#press hr {
  border-bottom: solid 1px #D01254;
  margin: 25px 0;
}
#press p {
  color: #D01254;
  margin-bottom: 75px;
}
.press-item-thumbnail {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 60px;
  width: 300px;
  border: solid 2px #000;
  cursor: pointer;
}
.press-item-thumbnail.active {
  border-color: #D01254;
}
.press-item-thumbnail .top {
  height: 200px;
  position: relative;
}
.press-item-thumbnail img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.press-item-thumbnail .title {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 15px;
}
.press-item-thumbnail.active .title {
  background: #D01254;
}
.press-item {
  display: none;
}
.press-item.active {
  display: block;
}
.press-item-detail {
  background: #fcdae6;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  display: none;
}
.press-item-detail .contents {
  border: solid 2px #000;
  padding: 40px 25px;
}
.press-item-detail .contents section {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.press-item-detail .meta {
  text-align: left;
  text-transform: uppercase;
}
.press-item-detail .meta .text {
  font-weight: 600;
}
.press-item-detail a {
  color: #000;
}
.press-item-detail .actions {
  text-align: right;
  cursor: pointer;
}

/* CONTACT */
.contact-banner {
  height: 566px;
  background: url('../images/contact-bg.jpg') no-repeat;
  background-size: cover;
  margin-top: 115px;
}
#contact {
  margin-top: -75px;
  text-align: center;
}
#contact h2 {
  margin: 0 auto;
  margin-bottom: 40px;
  background: #D01254;
  color: #fff;
  display: block;
  width: 180px;
  padding: 10px 30px;
}
#contact hr {
  border-bottom: solid 3px #000;
  margin-bottom: 25px;
}
#contact p {
  line-height: 20px;
}
#contact .address {
  margin-top: 20px;
}
#contact .get-directions {
  margin: 20px 0;
}
#contact section {
  margin-bottom: 25px;
}
#contact .hours {
  margin-top: 20px;
}
#contact .phone-title {
  margin-top: 25px;
}
#contact .phone {
  font-size: 18px;
}

/* MAILING LIST FORM */
#mailing-list {
  margin-top: 25px;
}
#mailing-list h3 {
  letter-spacing: 2px;
}

/* FOOTER */
#footer {
  height: 240px;
  background: #000;
  margin-top: 35px;
  color: #fff;
  padding-top: 45px;
}
#footer hr {
  margin-bottom: 10px;
  border-bottom: solid 1px #fff;
}
#footer .copyright {
  float: left;
}
#footer nav {
  float: right;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
