body {
  font-family: "brandon-grotesque";
}

a {
  color: #D01254;
}

h2, h3 {
  text-transform: uppercase;
}

h2 {
  color: #D01254;
  font-size: 24px;
  letter-spacing: 2px;
}
h2.boxed {
  border: solid 1px #D01254;
  padding: 10px 20px;
  display: inline-block;
}

h3 {
  color: #000;
  font-size: 20px;
  letter-spacing: 4px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* SLIDESHOW */
.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slideshow .nav {
  display: none;
  position: absolute;
  top: 250px;
  z-index: 10;
  height: 100px;
  width: 75px;
  background: #dbe3e9;
  opacity: .5;
  cursor: pointer;
  line-height: 95px;
  font-size: 50px;
  color: #000;
}
.slideshow .nav:hover {
  opacity: .9;
}
.slideshow .prev {
  left: 0;
  border-radius: 0 8px 8px 0;
}
.slideshow .next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.slideshow:hover .nav {
  display: block;
}
.slideshow.disabled .nav {
  display: none;
}

/* FORMS */
form {
  margin-top: 20px;
}
form input {
  border-radius: 0;
}
input[type=text], input[type=email] {
  background: #fef4f7;
  border: solid 1px #000;
  font-family: "brandon-grotesque";
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
}
form .email-wrapper {
  overflow: hidden;
}
form .email {
  display: block;
  overflow: hidden;
}
input[type=submit] {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 20px;
  height: 34px;
  font-family: "brandon-grotesque";
  background: #D01254;
  color: #fff;
  border: none;
  -webkit-appearance: none;
}
input[type=submit].desktop {
  margin: 2px 0 0 -2px;
  vertical-align: top;
  float: right;
}
input[type=submit].mobile {
  width: 100%;
}

.mobile {
  display: none;
}


/* account for fixed header */
.content { padding-top: 42px; }

@media only screen and (max-width: 1000px) {
  .remember-me {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #header {
    position: static;
    min-width: 0;
    height: auto;
  }
  #header nav {
    float: none;
  }
  #header .links {
    display: none;
  }
  #header .nav-links {
    position: static;
  }
  #home {
    padding-top: 0;
  }
  #about p.summary {
    width: auto;
  }
  #faq {
    margin-top: -125px;
  }
  #faq h2 {
    border: none;
  }
  #photos .nav {
    display: block;
  }
  .contact-banner {
    background-position-x: 50%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  #header nav a {
    display: block;
  }
  #home p {
    width: auto;
  }
}
